/* CSS variables */
:root {
  --highlight-colour: #c4ebfc;
  --secondary-colour: #00004b;
}

/* Navigation bar */

/* General */
.customNav {
  /* position: fixed; */
  width: 100%;
  background: url("../images/nav_bg.png");
  background-color: transparent !important;
  background-size: cover;
  z-index: 10;
}

.navbar-brand img {
  padding-right: 15px;
  width: 65px;
}

.navbar-nav:first-child {
  margin-left: auto;
  margin-right: 0 !important;
}

.jumbotron {
  background-image: url("../images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: calc(100vh - 30px);
  align-items: center;
  justify-content: center;
  display: flex;
}

.jumbotron-content {
  text-align: center;
}

main {
  padding: 40px;
}

#about,
#work {
  padding-bottom: 20px;
}

.skills-cards {
  padding: 0px 30px 30px 30px;
}

.skills-cards img {
  width: 150px;
}

#work .card-img-top {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

#work .horiseon .card-img-top {
  height: 60vh;
  object-position: top;
}

#work .avr-display .card-img-top,
#work .avr-pong .card-img-top {
  object-position: bottom;
}

.contact-box {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  flex-direction: column;
  /* margin-bottom: 20px; */
}

.contact-box .media {
  margin-bottom: 20px;
}

.contact-box .media .icon {
  min-width: 60px;
  height: 60px;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 20px;
  margin-right: 20px;
  color: #0275d8;
}

.contact-box .media .icon a {
  color: #0275d8;
}

.contact-box .media .icon a:hover {
  color: white;
}

.contact-box .media .icon:hover {
  background-color: #0275d8;
  color: white;
}

.contact-box .media h5 {
  padding-top: 5px;
  margin-bottom: 0px;
}

footer {
  text-align: center;
  /* color: rgba(255, 255, 255, 0.3); */
  background-color: gainsboro;
  margin-bottom: 0;
  padding-bottom: 10px;
}
